.gridImage__listItem {
  padding: 40px 70px 70px 70px !important;
}

.gridImage__imageListItem {
  margin: 8px;
  transition: 0.2s ease-out;
}

.gridImage__imageListItemBar {
  border-radius: 10px;
}

.gridImage__iconButton {
  color: rgba(255, 255, 255, 0.54);
}

.gridImage__imageListItem:hover {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}
